<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">HuutoNet</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li>
                    <a [routerLink]="['/huuto-net/categories']">
                        <span class='glyphicon glyphicon-th-list'></span>View all categories
                    </a>
                </li>
                <ng-container *ngIf="visitedCategories && visitedCategories.length > 0">
                    <li>
                        <a class="text-info">
                            <span class='glyphicon glyphicon-th-list'></span>Categories last visited:
                        </a>
                    </li>
                    <li *ngFor="let category of visitedCategories">
                        <a [routerLink]="['/huuto-net/categories', category.id, 'page', '1']">
                            <span class='glyphicon glyphicon-th-list'></span>{{ category.title }}
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
    </div>
</div>