<h1>Category items</h1>

<p *ngIf="!categoryItems"><em>Loading...</em></p>

<ng-container *ngIf="categoryItems">
    <p>Total count: {{categoryItems.totalCount}}   -   Page: {{pageNumber}}</p>
    <p>
        <a *ngIf="previousPage" [routerLink]="['/huuto-net/categories', categoryId, 'page', previousPage]">
            <span class='glyphicon glyphicon-th-list'></span> Previuos page
        </a> 
        <a *ngIf="nextPage" [routerLink]="['/huuto-net/categories', categoryId, 'page', nextPage]">
            <span class='glyphicon glyphicon-th-list'></span> Next page
        </a>
    </p>
    <table class='table'>
        <thead>
        <tr>
            <th>Title</th>
            <th>Seller</th>
            <th>Location</th>
            <th>Current price</th>
            <th>Buy now price</th>
            <th>Image</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of categoryItems.items">
            <td>{{item.title}}</td>
            <td>{{item.seller}}</td>
            <td>{{item.location}}</td>
            <td>{{item.currentPrice}} €</td>
            <td>{{item.buyNowPrice}} €</td>
            <td><a target="_blank" href="{{item?.images[0]?.links?.original}}"><img *ngIf="item?.images[0]?.links?.thumbnail" src="{{item?.images[0]?.links?.thumbnail}}" /></a></td>
        </tr>
        </tbody>
    </table>
</ng-container>